.table-header {
  font-size: .85rem;
}

.container {
  max-width: 1450px;
}

.table-data {
  font-size: .7rem;
  line-height: 30px;
}

.card-body {
  padding: .25rem 0;
}

.table-container {
  padding-inline: 0;
}

.home-card {
  height: 100%;
}

.order-button {
  margin-bottom: auto;
}

.form-control, .form-select {
  font-size: .8rem;
}

.table {
  overflow-y: scroll;

}

.patient-info-container {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 35px;
}

.patient-info-box1 {
  text-align: start;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.patient-info-box2 {
  text-align: end;
  display: flex;
  padding-right: 10px;
}

.patient-info-text {
  margin-bottom: 5px;
}

.patient-bottom-container {
  border-radius: 10px;
  padding: 20px;
  justify-content: space-evenly;
}

.schedule-table-header {
  position: sticky;
  top: 0;
}
